


.st-emotion-cache-bm2z3a {
background-color:#e68dbe;
}
h1#movie-recommender-system {
    color: black;
}
.st-emotion-cache-1jmvea6.e1nzilvr5 {
    color: aliceblue;
}


.st-bj {
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

